<ng-container *ngIf="project">
  <img class="img" src="{{ project.imgUrls[0] }}" alt="{{ project.name }}" />
  <div class="body">
    <div class="header">
      <p class="title text--desktop-h6">{{ project.name }}</p>
      <mustache-badge
        [variant]="project.status !== 'active' ? 'gray' : 'primary'"
        >{{ status }}</mustache-badge
      >
    </div>
    <div class="address">
      <img
        class="icon icon--m icon--empty icon--discrete"
        src="assets/icons/map-pin.svg"
        alt="'location'"
      />
      <p class="text--comment-semibold text--gray-600">
        {{ project.housing.address.street }}, {{ project.housing.address.city }}
      </p>
    </div>
    <div class="stats">
      <div class="stat">
        <p class="text--label-semibold text--primary-500">Inversión total</p>
        <p class="text--body-semibold text--gray-500">
          {{ project.totalInvestment | currency : project.currency }}
        </p>
      </div>
      <mustache-tooltip
        [message]="
          'El ROI mostrado es la rentabilidad media anual estimada, dicha estimación no es vinculante'
        "
      >
        <div class="stat">
          <div class="stat__header">
            <p class="text--label-semibold text--primary-500">ROI</p>
            <img
              class="icon icon--xs icon--empty icon--primary"
              src="assets/icons/info-circle.svg"
              alt="'location'"
            />
          </div>
          <p class="text--body-semibold text--gray-500">{{ project.roi }}%</p>
        </div>
      </mustache-tooltip>
      <div class="stat">
        <p class="text--label-semibold text--primary-500">Precio NFT</p>
        <p class="text--body-semibold text--gray-500">
          {{ project.sharingPrice | currency : project.currency }}
        </p>
      </div>
      <div class="stat">
        <p class="text--label-semibold text--primary-500">Duración</p>
        <p class="text--body-semibold text--gray-500">
          {{ project.duration.amount }} meses
        </p>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="stat">
      <p class="text--label-semibold text--primary-500">Financiado</p>
      <div class="stat__progress">
        <div class="status-bar">
          <div
            class="status-bar__content status-bar__content--{{ percentaje }}"
          ></div>
        </div>
        <p
          class="text--label-semibold {{
            percentaje < 100 ? 'text--primary-500' : 'text--success-600'
          }}"
        >
          {{ percentaje }}%
        </p>
      </div>
    </div>
    <div class="actions">
      <button
        mustacheIconButton
        [appearance]="'empty'"
        [size]="'s'"
        (click)="onSaveClicked()"
      >
        <img
          class="icon icon--m icon--empty icon--discrete"
          src="assets/icons/heart.svg"
          alt="'save'"
        />
      </button>
      <button mustacheButton [size]="'s'" (click)="onSeeDetailsClicked()">
        Ver detalles
      </button>
    </div>
  </div>
</ng-container>
