<ng-container *ngIf="project">
  <img class="img" src="{{ imgUrl }}" alt="{{ name }}" />
  <div class="body">
    <div class="header">
      <p class="title text--h6">{{ name }}</p>
      <mustache-badge [color]="status !== 'financing' ? 'gray' : 'primary'">{{
        status
      }}</mustache-badge>
    </div>
    <mustache-field [iconSrc]="'assets/icons/map-pin.svg'">
      {{ address }}
    </mustache-field>
    <div class="stats">
      <mustache-stat [label]="'Inversión total'">
        {{ totalInvestment | currency : currency }}
      </mustache-stat>
      <mustache-stat [label]="'ROI'" [iconSrc]="'assets/icons/info-circle.svg'">
        <mustache-tooltip
          [message]="
            'El ROI mostrado es la rentabilidad media anual estimada, dicha estimación no es vinculante'
          "
        >
          {{ roi }}%
        </mustache-tooltip>
      </mustache-stat>
      <mustache-stat [label]="'Precio NFT'">{{
        sharingPrice | currency : currency
      }}</mustache-stat>
      <mustache-stat [label]="'Duración'">
        {{ duration?.amout }} {{ duration?.type | duration }}
      </mustache-stat>
    </div>
  </div>
  <div class="footer">
    <mustache-stat>
      <mustache-percentaje-bar
        [percentaje]="percentaje"
      ></mustache-percentaje-bar>
    </mustache-stat>
    <div class="actions">
      <button
        mustacheIconButton
        [appearance]="'empty'"
        [size]="'s'"
        (click)="onSaveClicked()"
      >
        <img
          class="icon icon--m icon--empty icon--discrete"
          src="assets/icons/heart.svg"
          alt="'save'"
        />
      </button>
      <button
        class="button--mobile"
        mustacheIconButton
        [size]="'s'"
        (click)="onSeeDetailsClicked()"
      >
        <img
          class="icon icon--m icon--empty icon--secondary"
          src="assets/icons/arrows-maximize.png"
          alt="'go to'"
        />
      </button>
      <button
        class="button--desktop"
        mustacheButton
        [size]="'s'"
        (click)="onSeeDetailsClicked()"
      >
        Ver detalles
      </button>
    </div>
  </div>
</ng-container>
