@use '../../../../../../../../libs/theme/scss/settings';

:host {
  display: block;
  height: 22rem;
  box-shadow: settings.$shadow-m;
  border-radius: settings.$border-radius-m;
  background-color: settings.$bg-color;

  .img {
    width: 100%;
    height: 9rem;
    border-top-left-radius: settings.$border-radius-m;
    border-top-right-radius: settings.$border-radius-m;
    object-fit: cover;
  }

  .body {
    padding: settings.$spacing-m;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .title {
    margin-bottom: settings.$spacing-xs;
  }

  mustache-field {
    margin-bottom: settings.$spacing-m;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    padding: 0 settings.$spacing-m;
  }

  .actions {
    display: flex;
    gap: settings.$spacing-s;

    .button--mobile {
      display: none;
    }
  }

  .stats {
    display: flex;
    gap: settings.$spacing-l;
    flex-wrap: wrap;
  }
}

@media (max-width: settings.$breakpoint-s) {
  :host {
    max-width: 100%;
    min-width: 100%;
    height: 19rem;

    .img {
      height: 6rem;
    }

    .stats {
      gap: settings.$spacing-m;
    }

    .actions {
      .button--desktop {
        display: none;
      }

      .button--mobile {
        display: block;
      }
    }
  }
}
