<div class="login">
  <div class="login__container">
    <h1 class="text--h5">{{ title }}</h1>
    <h2 class="text--body-regular text--gray-400">
      {{ subtitle }}
    </h2>
    <ng-container *ngIf="shownWidget === 'login'">
      <mustache-login
        *ngIf="session$ | async as session"
        [isLoading]="session.loading"
        [isSuccessful]="!!session.value"
        [errorMessage]="session.error?.message"
        [thirdPartiesEnabled]="true"
        (signUpClicked)="onSignUpClicked()"
        (recoverClicked)="onRecoverClicked()"
        (loginSubmited)="onSubmitLogin($event)"
      >
        <button
          mustacheButton
          [icon]="'heart'"
          [appearance]="'complementary'"
          [position]="'center'"
          (click)="onLoginWithGoogleClicked()"
        >
          Google
        </button>
        <button
          mustacheButton
          [icon]="'heart'"
          [appearance]="'complementary'"
          [position]="'center'"
          (click)="onLoginWithGoogleClicked()"
        >
          Apple
        </button>
        <button
          mustacheButton
          [icon]="'heart'"
          [appearance]="'complementary'"
          [position]="'center'"
          (click)="onLoginWithGoogleClicked()"
        >
          Microsoft
        </button>
        <button
          mustacheButton
          [icon]="'heart'"
          [appearance]="'complementary'"
          [position]="'center'"
          (click)="onLoginWithGoogleClicked()"
        >
          Web3
        </button>
      </mustache-login>
    </ng-container>
    <ng-container *ngIf="shownWidget === 'signup'">
      <mustache-signup
        *ngIf="session$ | async as session"
        [isLoading]="session.loading"
        [isSuccessful]="!!session.value"
        [errorMessage]="session.error?.message"
        (signUpSubmited)="onSubmitSignUp($event)"
        (loginClicked)="onLoginClicked()"
      ></mustache-signup>
    </ng-container>
    <mustache-recover
      *ngIf="shownWidget === 'recover'"
      [defaultDiallingCode]="defaultDiallingCode"
      [diallingCodes]="diallingCodes"
      (sendCodeSubmited)="onSendCodeSubmited($event)"
      (resetSubmited)="onResetSubmited($event)"
      (loginClicked)="onLoginClicked()"
    ></mustache-recover>
  </div>
</div>
<div class="content">
  <div class="content__wrapper">
    <div class="content__top">
      <mustache-icon
        [name]="'heart'"
        [color]="'gray'"
        [size]="'body'"
        [appearance]="'empty'"
      ></mustache-icon>
      <p class="title text--h1 text--primary">
        Build your dream application in a blink using MustacheUI
      </p>
      <p class="text--title-semibold text--primary-100">
        MustacheUI is a set of highly customizable and ready to go UI libraries
        built in the latest Angular version.
      </p>
    </div>
    <div class="content__bottom">
      <p class="text--label-semibold text--primary-100">
        &copy; {{ year }} ALL RIGHTS RESERVED
      </p>
      <p class="text--label-semibold text--primary-100">
        Built by
        <a
          class="link text--primary-100"
          href="{{ GITHUB_URL }}"
          target="_blank"
          >Sergio Peña Bayona</a
        >
      </p>
    </div>
  </div>
</div>
