<mustache-toolbar>
  <ng-container left>
    <mustache-banner [logoSrc]="'assets/icons/moustache.svg'"
      >Mustache</mustache-banner
    >
    <mustache-navbar
      [items]="items"
      [activeRoute]="activeRoute"
      (itemClicked)="onItemClick($event)"
    >
    </mustache-navbar>
  </ng-container>
  <ng-container right>
    <mustache-language-selector
      [appearance]="'empty'"
      [languages]="supportedLangs"
      [value]="lang$ | async"
      (languageChanged)="onLanguageChanged($event)"
    >
    </mustache-language-selector>
    <mustache-notification-dropdown
      [notifications]="notifications$ | async"
      [notificationsOn]="notificationsOn"
      [isOpen]="notificationsOpen"
      (readAllClicked)="onReadAllClicked($event)"
      (turnOffClicked)="onTurnOffClicked($event)"
      (readClicked)="onReadClicked($event)"
      (removeClicked)="onRemoveClicked($event)"
      (notificationClicked)="onNotificationClicked($event)"
    >
      <mustache-notification-icon
        [iconSrc]="'assets/icons/bell.svg'"
        [numberOfNotifications]="notifications$ | async | unreadNotifications"
        (click)="notificationsOpen = !notificationsOpen"
      ></mustache-notification-icon>
    </mustache-notification-dropdown>
    <mustache-avatar-dropdown
      [userNickname]="(session$ | async)?.value?.nickName"
      [isOpen]="avatarOpen"
    >
      <ng-container iconButton>
        <mustache-avatar-connection
          [status]="connectionStatus$ | async"
          (click)="avatarOpen = !avatarOpen"
        ></mustache-avatar-connection>
      </ng-container>
      <ng-container body>
        <mustache-status
          [variant]="'success'"
          (click)="onStatusClicked('active')"
        >
          Active
        </mustache-status>
        <mustache-status
          [variant]="'warn'"
          (click)="onStatusClicked('inactive')"
        >
          Inactive
        </mustache-status>
        <mustache-status [variant]="'danger'" (click)="onStatusClicked('busy')">
          Busy
        </mustache-status>
        <mustache-status [variant]="'gray'" (click)="onStatusClicked('out')">
          Out
        </mustache-status>
      </ng-container>
      <ng-container actions>
        <mustache-toggle
          [value]="darkModeOn"
          (valueChanged)="onDarkModeChange($event)"
          >Dark mode</mustache-toggle
        >
        <button
          mustacheButton
          [appearance]="'empty'"
          [size]="'s'"
          (click)="onSettingsClicked()"
        >
          <img
            class="icon icon--m icon--empty icon--discrete"
            src="assets/icons/settings.svg"
            alt="'settings'"
          />
          Settings
        </button>
        <button
          mustacheButton
          [appearance]="'empty'"
          [size]="'s'"
          (click)="onLogOutClicked()"
        >
          <img
            class="icon icon--m icon--empty icon--discrete"
            src="assets/icons/logout.svg"
            alt="'log out'"
          />
          Log out
        </button>
      </ng-container>
    </mustache-avatar-dropdown>
  </ng-container>
</mustache-toolbar>
<router-outlet></router-outlet>
