<div class="login">
  <div class="login__container">
    <h1 class="text--desktop-h5">{{ title }}</h1>
    <h2 class="text--body-regular text--gray-400">
      {{ subtitle }}
    </h2>
    <mustache-login
      [thirdPartiesEnabled]="true"
      (signUpClicked)="onSignUpClicked()"
      (recoverClicked)="onRecoverClicked()"
      (loginSubmited)="onSubmitLogin()"
    >
      <button
        mustacheButton
        [type]="'complementary'"
        [position]="'center'"
        (click)="onLoginWithGoogleClicked()"
      >
        <img
          class="icon icon--m icon--empty icon--discrete"
          src="../../../assets/icons/brand-google.svg"
          alt="'log out'"
        />
        Google
      </button>
      <button
        mustacheButton
        [type]="'complementary'"
        [position]="'center'"
        (click)="onLoginWithGoogleClicked()"
      >
        <img
          class="icon icon--m icon--empty icon--discrete"
          src="../../../assets/icons/brand-apple.svg"
          alt="'log out'"
        />
        Apple
      </button>
      <button
        mustacheButton
        [type]="'complementary'"
        [position]="'center'"
        (click)="onLoginWithGoogleClicked()"
      >
        <img
          class="icon icon--m icon--empty icon--discrete"
          src="../../../assets/icons/brand-windows.svg"
          alt="'log out'"
        />
        Microsoft
      </button>
      <button
        mustacheButton
        [type]="'complementary'"
        [position]="'center'"
        (click)="onLoginWithGoogleClicked()"
      >
        <img
          class="icon icon--m icon--empty icon--discrete"
          src="../../../assets/icons/wallet.svg"
          alt="'log out'"
        />
        Web3
      </button>
    </mustache-login>
    <mustache-signup
      *ngIf="shownWidget === 'signup'"
      (signUpSubmited)="onSubmitSignUp()"
      (loginClicked)="onLoginClicked()"
    ></mustache-signup>
    <mustache-recover
      *ngIf="shownWidget === 'recover'"
      (sendCodeSubmited)="onSendCodeSubmited()"
      (resetSubmited)="onResetSubmited()"
      (loginClicked)="onLoginClicked()"
    ></mustache-recover>
  </div>
</div>
<div class="content">
  <div class="content__wrapper">
    <img
      src="../../../assets/icons/moustache.svg"
      alt="logo"
      class="icon icon--login"
    />
    <p class="title text--desktop-h1 text--primary">
      Build your dream application in a blink using mustache
    </p>
    <p class="subtitle text--title-semibold text--primary-100">
      Mustache is a highly customizable and ready to go UI library built in the
      latest Angular version.
    </p>
  </div>
</div>
