<mustache-login>
  <ng-container title> Welcome back! </ng-container>
  <ng-container subtitle> Start building applications faster </ng-container>
  <ng-container remember> Remember me</ng-container>
  <ng-container forgot>Forgot Password?</ng-container>
  <ng-container account>Don't you have an account?</ng-container>
  <ng-container signup>Sign up</ng-container>
  <ng-container content>
    <img
      src="../../../assets/icons/moustache.svg"
      alt="logo"
      class="icon icon--login"
    />
    <p class="title text--desktop-h1 text--primary">
      Build your dream application in a blink using mustache
    </p>
    <p class="subtitle text--title-semibold text--primary-100">
      Mustache is a highly customizable and ready to go UI library built in the latest Angular
      version.
    </p>
  </ng-container>
</mustache-login>
