@use '../../../../../../libs/theme/scss/settings';

:host(main-login-page) {
  display: flex;
  height: 100%;
}

.icon--login {
  margin-bottom: settings.$spacing-xl;
}

.title {
  margin-bottom: settings.$spacing-m;
}

.login {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__container {
    width: calc(4 * settings.$desktop-column-width + 3 * settings.$gutter);
  }

  &__options {
    width: calc(4 * settings.$desktop-column-width + 3 * settings.$gutter);
    display: flex;
    flex-wrap: wrap;
    gap: settings.$spacing-m;
    margin: settings.$spacing-m 0 0 0;
  }
}

.content {
  flex-basis: 50%;
  padding: settings.$spacing-m;

  &__wrapper {
    height: 100%;
    border-radius: settings.$border-radius-s;
    background-color: settings.$primary-500;
    padding: settings.$spacing-4xl;
    display: flex;
    flex-direction: column;
  }
}

mustache-login,
mustache-recover,
mustache-signup {
  margin-top: settings.$spacing-xl;
}
